@font-face { 
    font-family: "Arial";
    src: url("../fonts/arial.ttf")
    url("../fonts/arial.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face { 
    font-family: "Cambria";
    src: url("../fonts/Cambria.ttf")
    url("../fonts/Cambria.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face { 
    font-family: "Segoe UI";
    src: url("../fonts/SegoeUI.ttf")
    url("../fonts/SegoeUI.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face { 
    font-family: "Rubik";
    src: url("../fonts/Rubik.ttf")
    url("../fonts/Rubik.woff") format("woff"),
    url("../fonts/Rubik.woff2") format("woff2"),
    url("../fonts/Rubik.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face { 
    font-family: "Rubik";
    src: url("../fonts/Rubikmedium.ttf")
    url("../fonts/Rubikmedium.woff") format("woff"),
    url("../fonts/Rubikmedium.woff2") format("woff2"),
    url("../fonts/Rubikmedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face { 
    font-family: "Rubik";
    src: url("../fonts/rubik-light.ttf")
    url("../fonts/rubik-light.woff") format("woff"),
    url("../fonts/rubik-light.woff2") format("woff2"),
    url("../fonts/Rubiklight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}